.chat-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
    margin: 5px ;
}

.chat-list .user-message {
    background: gainsboro;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
    word-break: break-all;
    white-space: normal;
}
.chat-list .reverse{
    background: lightgreen;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
    word-break: break-all;
    white-space: normal;
}
.username{
    margin: 5px 0 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-message p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
    font-size: 10px;
    margin-left: 60px;
}